{% set codename = grains.get('oscodename') %}
{% if codename == 'zesty' %}
  {% set codename = 'xenial' %}
{% endif %}

{% set docker = salt['grains.filter_by']({
  'Debian': {
     'engine': 'docker-ce',
     'repository': 'deb [arch=amd64] https://download.docker.com/linux/ubuntu ' + codename + ' stable'}
}) %}
